mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`).default;
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=`sprite.svg#${icon.id.replace('-usage', '')}`)

mixin image(path, className)
  img(src=require(`images/${path}`).default class=className)

- var menuItem = ['Обо мне',"Навыки",'Работы','Отзывы']
- var menuItem__mobile = ['Главная','Обо мне',"Навыки",'Работы','Отзывы']

-
  const socialItem ={
    'insta' : 'https://www.instagram.com/rybalkinvi',
    'github': 'https://github.com/ViRybalkin',
    'vk' : 'https://vk.com/kinjeks',
    'mail': 'mailto:kinjeks@gmail.com',
  };

-
  var userInfo = [
    ['Проживаю','Ярославль'],
    ['Возвраст','24 года'],
    ['Родился',"8 августа 1996"],
  ];